<form action="/cats" method="post">
  
  <label>Name
    <input type="text" name="cat[name]" >
  </label>

  <label>Owner
    <input type="text" name="cat[owner]">
  </label>

  <input type="submit">
</form>
